<?xml version="1.0"?>
<configuration>
	<refFolder>/data/spark/ref</refFolder>
	<toolsFolder>/data/spark/tools</toolsFolder>
	<tmpFolder>temp</tmpFolder>
	<inputFolder>samDir</inputFolder>
	<outputFolder>output</outputFolder> 
	<numInstances>8</numInstances>
	<numRegions>64</numRegions>
	<numThreads>1</numThreads>
</configuration>
